@-keyframes LOGOFASTTHROB {
  0% {opacity: 1;}
  50% {opacity: 0.7;}
  100% {opacity: 1;}
}
@-webkit-keyframes LOGOFASTTHROB {
  0% {opacity: 1;}
  50% {opacity: 0.7;}
  100% {opacity: 1;}
}
@-moz-keyframes LOGOFASTTHROB {
  0% {opacity: 1;}
  50% {opacity: 0.7;}
  100% {opacity: 1;}
}
@-o-keyframes LOGOFASTTHROB {
  0% {opacity: 1;}
  50% {opacity: 0.7;}
  100% {opacity: 1;}
}


@keyframes FADEINLANDING {
  0% {opacity: 0;}
  70% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes FADEINLANDING {
  0% {opacity: 0;}
  70% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes FADEINLANDING {
  0% {opacity: 0;}
  70% {opacity: 0;}
  100% {opacity: 1;}
}
@-o-keyframes FADEINLANDING {
  0% {opacity: 0;}
  70% {opacity: 0;}
  100% {opacity: 1;}
}
@-ms-keyframes FADEINLANDING {
  0% {opacity: 0;}
  70% {opacity: 0;}
  100% {opacity: 1;}
}
