#primary {
  float: left;
  margin: 0 -26.4% 0 0;
  width: 100%;
  background: black;
}

/* Singular */
.singular #primary {
  margin: 0;
}
.singular #content {
  margin: 0 auto;
  position: relative;
  width: 720px;
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.625em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.625em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Right Content */
.left-sidebar #primary {
  float: right;
  margin: 0 0 0 -26.4%;
  width: 100%;
}
.left-sidebar #content {
  margin: 0 7.6% 0 34%;
  width: 58.4%;
}
.left-sidebar #secondary {
  float: left;
  margin-left: 7.6%;
  margin-right: 0;
  width: 18.8%;
}



/* =Global
----------------------------------------------- */

body, input, textarea {
  color: #ccc;
  font-weight: 300;
  line-height: 1.625;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
  clear: both;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.625em;
}

/* Text elements */
p {
  margin-bottom: 1.625em;
}
ul, ol {
  margin: 0 0 1.625em 2.5em;
}
ul {
  list-style: square;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
}
dl {
  margin: 0 1.625em;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 1.625em;
}
strong {
  font-weight: bold;
}
cite, em, i {
  font-style: italic;
}
blockquote {
  font-style: italic;
  font-weight: normal;
  margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
  font-style: normal;
}
blockquote cite {
  color: #666;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
pre {
  background: #f4f4f4;
  font: 13px "Courier 10 Pitch", Courier, monospace;
  line-height: 1.5;
  margin-bottom: 1.625em;
  overflow: auto;
  padding: 0.75em 1.625em;
}
code, kbd, samp, var {
  font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
  border-bottom: 1px dotted #666;
  cursor: help;
}
address {
  display: block;
  margin: 0 0 1.625em;
}
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 10px;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: .5ex;
}

/* Forms */
input[type=text],
input[type=password],
textarea {
  background: #fafafa;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
  color: #888;
}
input[type=text]:focus,
textarea:focus {
  color: #373737;
}
textarea {
  padding-left: 3px;
  width: 98%;
}
input[type=text] {
  padding: 3px;
}
input#s {
  background: url(images/search.png) no-repeat 5px 6px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  height: 22px;
  line-height: 1.2em;
  padding: 4px 10px 4px 28px;
}
input#searchsubmit {
  display: none;
}

/* Links */
a {
  color: $linkColour;
  text-decoration: none;
}
a:focus,
a:active,
a:hover {
  text-decoration: underline;
}


/* =Header
----------------------------------------------- */
#page > header > span.chrome1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  background: -webkit-linear-gradient(bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 90%,
      rgba(0, 0, 0, 0) 100%),
     -webkit-linear-gradient(left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.1) 15%,
      rgba(0, 0, 0, 1) 45%,
      rgba(0, 0, 0, 1) 55%,
      rgba(0, 0, 0, 0.1) 85%,
      rgba(0, 0, 0, 0) 100%);
}
#branding {
  position: relative;
  z-index: 10;
}
#branding hgroup {
  position: relative;
  width: 665px;
  left: 150px;
}
#titlearea {
  position: relative;
  left: 50%;
  margin-left: -134px;
  width: 269px;
  height: 111px;
  text-align: center;
}


@-keyframes LOGOFASTTHROB {
  0% {opacity: 1;}
  50% {opacity: 0.7;}
  100% {opacity: 1;}
}
@-webkit-keyframes LOGOFASTTHROB {
  0% {opacity: 1;}
  50% {opacity: 0.7;}
  100% {opacity: 1;}
}
@-moz-keyframes LOGOFASTTHROB {
  0% {opacity: 1;}
  50% {opacity: 0.7;}
  100% {opacity: 1;}
}
@-o-keyframes LOGOFASTTHROB {
  0% {opacity: 1;}
  50% {opacity: 0.7;}
  100% {opacity: 1;}
}


#site-title {
  a {
    $height: 46px;
    $width: 200px;

    background: transparent;
    display: block;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -$width/2;
    text-indent: -999em;

    span.chrome1 {
      background-image: url(images/logos/gobo3.png);
      background-repeat: no-repeat;
      display: block;
      width: $width;
      height: $height;
    }
    :hover {
      @include animation(LOGOFASTTHROB, 1s, ease-out, 0, infinite);
    }
  }
}

#site-description {
  position: absolute;
  text-indent: -999em;
}


/* =Menu
-------------------------------------------------------------- */
#access {
  position: absolute;
  top: 65px;
  left: 50%;
  $centreOffset: -250px;

  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: $centreOffset;

    a {
      font-size: 18px;
    }
    @include linkGlowStyle(white, black);
  }
  li + li {
    left: auto;
    right: $centreOffset;
  }

  /* Now let's do styling for first rollout */
  li {
    left: auto;
    right: -290px;
    top: -50px;
  }
  li + li {
    display: none;
  }
}

.featured-posts {
  display: none;
}


/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}

article {
  position: relative;
  margin-bottom: 30px;

  header {
    padding-top: 1em;
    h1.entry-title {
      margin: 0;
      padding: 0;
      font-size: 150%;
      font-weight: bold;
      color: #fff;
    }
    .entry-meta {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 85%;
    }
  }
}


/* =Footer
----------------------------------------------- */

body > #page > footer {
  background: black;
}
.menu-footer-container {
  ul {
    padding: 20px 0 40px;
    margin: 0;
    text-align: center;
  }
  li {
    list-style: none;
    display: inline;
    padding: 0 15px;
  }
  li + li {
    border-left: 1px solid #666;
  }

  /* First rollout styling -- hide galleries and news */
  .menu-item-103,
  .menu-item-112 {
    display: none;
  }
}
#colophon {
  clear: both;
}
#supplementary {
  border-top: 1px solid #ddd;
  padding: 1.625em 7.6%;
  overflow: hidden;
}

/* Two Footer Widget Areas */
#supplementary.two .widget-area {
  float: left;
  margin-right: 3.7%;
  width: 48.1%;
}
#supplementary.two .widget-area + .widget-area {
  margin-right: 0;
}

/* Three Footer Widget Areas */
#supplementary.three .widget-area {
  float: left;
  margin-right: 3.7%;
  width: 30.85%;
}
#supplementary.three .widget-area + .widget-area + .widget-area {
  margin-right: 0;
}

/* Site Generator Line */
#site-generator {
  background: #000;
  color: #666;
  font-size: 12px;
  line-height: 2.2em;
  padding: 2.2em 0.5em;
  text-align: center;
  @include border-bottom-left-radius($cornerRadius);
  @include border-bottom-right-radius($cornerRadius);
}
#site-generator a {
  color: #555;
  font-weight: bold;
}


/* PAGE SPECIFIC STUFF
----------------------------------------------- */
#fbgalleries-carrousel {
  $wholeWidth: 610px;
  $wholeHeight: 320px;
  $Hpadding: 0;
  $Vpadding: 0;
  $innerWidth: $wholeWidth - (2*$Hpadding);
  $innerHeight: $wholeHeight - (2*$Vpadding);
  width: $innerWidth;
  height: $innerHeight;
  background: black;
  position: relative;
  margin: 0 auto;
  padding: $Vpadding $Hpadding;

  /* Using old methods because webkit needs to fix many bugs with
     rounded corner clipping */
  span.chrome1 {
    b {
      position: absolute;
      top: $Vpadding;
      left: $Hpadding;
      display: block;
      width: 11px;
      height: 11px;
      background: url(images/fbgallerycorners.png);
    }
    b + b {
      left: auto;
      right: $Hpadding;
      background-position: top right;
    }
    b + b + b {
      width: 10px;
      height: 10px;
      top: auto;
      bottom: $Vpadding;
      background-position: bottom right;
    }
    b + b + b + b {
      right: auto;
      left: $Hpadding;
      background-position: bottom left;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: $innerWidth;
    height: $innerHeight;
    overflow: hidden;
    position: relative;
  }
  li {
    position: absolute;
    top: 0;
    left: -999em;
    margin: 0;
    padding: 0;
    @include transition-property(opacity);
    @include transition-duration(1s);
    @include opacity(0);
  }
  li.active {
    left: 0;
    @include opacity(1);
  }
  li.fading {
    left: 0;
    @include opacity(0);
  }
  a {
    display: block;
    width: $innerWidth;
    height: $innerHeight;
    text-align: center;
    text-decoration: none;

    .imgwrap {
      display: block;
    }
    img {
      max-width: none;
    }
    .title {
      padding: 0;
      margin: 0;
      position: absolute;
      bottom: 10px;
      right: 20px;
      color: white;
      font-size: 18px;
      @include text-shadow(
        rgba(black, 1) -2px -2px 0,
        rgba(black, 1) 2px -2px 0,
        rgba(black, 1) 2px 2px 0,
        rgba(black, 1) -2px 2px 0,
        rgba(black, 1) -2px -0px 0,
        rgba(black, 1) 2px -0px 0,
        rgba(black, 1) 0px 2px 0,
        rgba(black, 1) 0px 2px 0
      );
    }
  }
}

@import '_fbcontent.scss';

#services {
  .ngg-album {
    border: none;
    width: 25%;
    float: left;
    padding: 0 0 15px 0;
    margin: 0;
  }
  .ngg-albumtitle {
    margin: 0;
    text-align: center;
    font-weight: normal;
    @include linkGlowStyle(white, black);
  }
  .ngg-thumbnail {
    float: none;
    margin: 0;

    a {
      display: block;
    }
    img {
      display: block;
      margin: 0 auto;
      border: none;
      padding: 0;
      width: 148px;
      @include transition-property(box-shadow);
      @include transition-duration(.2s);
      @include border-radius(10px);
      @include box-shadow(
        rgba($glowColour1, 0.1) 0 0 25px,
        rgba($glowColour1, 0.1) 0 0 25px
      );
    }
    img:hover {
      @include box-shadow(
        rgba($glowColour1, 0.4) 0 0 25px,
        rgba($glowColour1, 0.4) 0 0 25px
      );
    }
  }
  .ngg-description {
    display: none;
  }
}


.edit-link {
  display: block;
  position: absolute;
  top: 5px;
  left: -40px;
  background: #444;
  padding: 1px 5px 3px;
  line-height: 100%;
  @include border-radius(5px);
  a {
    font-size: 14px;
    color: #aaf;
  }
}


/* =Responsive Structure
----------------------------------------------- */

@media (max-width: 800px) {
}
@media (max-width: 650px) {
}
@media (max-width: 450px) {
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}


/* =Print
----------------------------------------------- */

@media print {
}


@import 'lists';

//@import '_pikachoose';
